
*{
    margin: 0;
    padding: 0;
    scroll-behavior: 0;
    box-sizing: border-box;
    }
    .container-full{
        width: 100%; 
    background-color: rgb(239, 234, 234);
    }
    .background{
     
        width: 100%;
        height: 80vh;
           background-image: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)),url(images/red\ mobil.jpeg) ;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .container{
    width: 1100px;
   
    margin: 0 auto;
    }
    .main{
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    overflow: hidden;
    }
    .logo img{
    width: 200px;
    height: 80px;
    background-color: #fff ;
    border-radius: 20px;
    margin-top: 10px;
    }
    nav a{
    text-decoration: none;
    margin-right:20px ;
    color: #faf7f7;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 5px;
    }
    nav a:last-child{
    border: 1px solid #fff;
    padding: 7px 30px;
    }
    .heading h1{
    text-align: center;
    color: #fff;
    margin-top: 200px;
    font-size: 40px;
    letter-spacing: 10px;
    text-transform: uppercase;
    }
    .heading p {
    color: #fff;
    text-align: center;
    margin-top: 40px;
    font-size: 25px;
    }
    .pic-one img{
        width: 250px;
        height: 250px;
    margin-top: 60px;
       }
       .pic-one h3{
    text-align: center;
    
       }
      
    
    
         .pic-two img{
        width: 250px;
        height: 250px;
        margin-top: 60px;
    
       } 
       .pic-two h3{
    text-align: center;
    
    
       }
         .pic-three img{
        width: 250px;
        height: 250px;
        margin-top: 60px;
    
       } 
       .pic-three h3{
    text-align: center;
    
    
       }
       
    
       .pic-four img{
        width: 250px;
        height: 250px;
        margin-top: 60px;
    
       } 
       .pic-four h3{
    text-align: center;
    
    
       }
    
    .project{
        display: grid;
    grid-template-columns: repeat(4,1fr);
    
    }
    .manu {
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .manu a{
    color: #141212;
    text-decoration: none;
    margin-top: 30px;
    border: 2px solid #242121;
    padding: 10px 20px;
    margin-bottom: 40px;
    font-size: 16px;
    font-weight: 600;
    background: linear-gradient(rgb(3, 3, 3),red);
    }